<div >
 <mat-chip-list aria-label="Fish selection"  >
 
  
  
  
 
    <mat-chip class="chips" color="accent"  routerLink="/searchresult" (click)="search(28)" selected style="margin-left:80px;background-color: #9400D3;color: #060d17;">Action</mat-chip>
    <mat-chip class="chips" color="primary" routerLink="/searchresult" (click)="search(35)" selected style="background-color:#4B0082 ;color: white;">Comedy</mat-chip>
    <mat-chip class="chips" color="primary" routerLink="/searchresult" (click)="search(12)" selected style="background-color:#0000FF ;color: #060d17;">Adventure</mat-chip>
    <mat-chip class="chips" color="primary" routerLink="/searchresult" (click)="search(99)" selected style="background-color:#00FF00 ;color: white;">Documentary</mat-chip>
    <mat-chip class="chips" color="primary" routerLink="/searchresult" (click)="search(16)" selected style="background-color:#FFFF00 ;color: #060d17;">Animation</mat-chip>
    <mat-chip class="chips" color="primary" routerLink="/searchresult" (click)="search(80)" selected style="background-color:#FF7F00 ;color: white;">Crime</mat-chip>
    <mat-chip class="chips" color="primary" routerLink="/searchresult" (click)="search(18)" selected style="background-color: #FF0000;color: #060d17;">Drama</mat-chip>
    <mat-chip class="chips" color="primary" routerLink="/searchresult" (click)="search(10751)" selected style="background-color: #9400D3;color: white;">Family</mat-chip>
    <mat-chip class="chips" color="primary" routerLink="/searchresult" (click)="search(53)" selected style="background-color:#4B0082 ;color: #060d17;">Thriller</mat-chip>
    <mat-chip class="chips" color="primary" routerLink="/searchresult" (click)="search(36)" selected style="background-color: #0000FF;color: white;">History</mat-chip>
    <mat-chip class="chips" color="primary" routerLink="/searchresult" (click)="search(27)" selected style="background-color: #00FF00;color: #060d17;">Horror</mat-chip>
    <mat-chip class="chips" color="primary" routerLink="/searchresult" (click)="search(9648)" selected style="background-color:#FFFF00 ;color: white;">Mystery</mat-chip>
    <mat-chip class="chips" color="primary" routerLink="/searchresult" (click)="search(10749)" selected style="background-color:#FF7F00 ;color: #060d17;">Romance</mat-chip>
    <mat-chip class="chips" color="primary" routerLink="/searchresult" (click)="search(878)" selected style="background-color:#FF0000 ;color: white;">Science Fiction</mat-chip>
    
  </mat-chip-list>
</div>
